In [1]:
!wget https://www.dropbox.com/s/zcebxexe0a4atiy/50_Startups.csv

--2024-12-03 21:40:52--  https://www.dropbox.com/s/zcebxexe0a4atiy/50_Startups.csv
Resolving www.dropbox.com (www.dropbox.com)... 2620:100:6031:18::a27d:5112, 162.125.81.18
Connecting to www.dropbox.com (www.dropbox.com)|2620:100:6031:18::a27d:5112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://www.dropbox.com/scl/fi/h0uy3io3ildj6kdnbvd3g/50_Startups.csv?rlkey=rczq4olt57naivsb8o49yb1mh [following]
--2024-12-03 21:40:54--  https://www.dropbox.com/scl/fi/h0uy3io3ildj6kdnbvd3g/50_Startups.csv?rlkey=rczq4olt57naivsb8o49yb1mh
Reusing existing connection to [www.dropbox.com]:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb7c8bcda620a2f0a0b7df4b81f.dl.dropboxusercontent.com/cd/0/inline/CfjT0mqR3ThUKeQ33F4uf7-kIajVcbahNPzE4oGmKTf6THjPdI1pyhsTPo0Khgj6xYbcdi5DtkEANkCUIumRiLusfDMi16aPWCkX60a1z4RV2LDh184jvWy2ut3UdWchLbGrkULtcH0I8XmWKXMv00QN/file# [following]
--2024-12-03 21:40:55--  https://ucb7c8bcda620a2f0a0b7df4b81f.dl.dropboxusercontent.com/cd/0/inline/CfjT0mqR3ThUKeQ33F4uf7-kIajVcbahNPzE4oGmKTf6THjPdI1pyhsTPo0Khgj6xYbcdi5DtkEANkCUIumRiLusfDMi16aPWCkX60a1z4RV2LDh184jvWy2ut3UdWchLbGrkULtcH0I8XmWKXMv00QN/file
Resolving ucb7c8bcda620a2f0a0b7df4b81f.dl.dropboxusercontent.com (ucb7c8bcda620a2f0a0b7df4b81f.dl.dropboxusercontent.com)... 2620:100:6031:15::a27d:510f, 162.125.81.15
Connecting to ucb7c8bcda620a2f0a0b7df4b81f.dl.dropboxusercontent.com (ucb7c8bcda620a2f0a0b7df4b81f.dl.dropboxusercontent.com)|2620:100:6031:15::a27d:510f|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2436 (2.4K) [text/plain]
Saving to: ‘50_Startups.csv.1’

50_Startups.csv.1   100%[===================>]   2.38K  --.-KB/s    in 0s

2024-12-03 21:40:56 (141 MB/s) - ‘50_Startups.csv.1’ saved [2436/2436]

Training a Linear Regression model

Predicting using the trained model

Evaluating a model: R2-score and Root Mean Squared Error

Finding out coefficients and intercept

Ridge Regression

Lasso Regression

In [2]:
import pandas as pd
df = pd.read_csv('50_Startups.csv')
print(df.isnull().sum())
print(df.head())
print(df.shape)

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94
(50, 5)

In [3]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['State']=le.fit_transform(df['State'])
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [4]:
from sklearn.model_selection import train_test_split
X= df.iloc[:,:-1]
y= df.iloc[:,-1]
X_train,X_test,y_train,y_test=train_test_split(X, y,test_size=0.20,random_state = 1)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(40, 4)
(10, 4)
(40,)
(10,)

In [5]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)
print('The final coefficients after training is:',lr.coef_)
print('The final intercept after training is:',lr.intercept_)

The final coefficients after training is: [ 7.73632191e-01 -9.41863371e-03  2.93451013e-02  1.73159640e+02]
The final intercept after training is: 49637.34362243091

In [6]:
from sklearn.metrics import r2_score,mean_squared_error
y_pred = lr.predict(X_test)
print("r2 score of our model is:", r2_score(y_test,y_pred))
print("mean absolute error of our model is:", mean_squared_error(y_test,y_pred,squared=False))

r2 score of our model is: 0.9649827631091706
mean absolute error of our model is: 8913.354557987741